<%= error_messages_for(@section) %>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:16px;">
  <tr>
    <td width="13%" align="right">&nbsp;</td>
    <td width="4%">&nbsp;</td>
    <td width="83%" align="left">&nbsp;</td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:page_id, "Page") %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.select(:page_id, @pages.collect {|p| [p.name, p.id]}, {}, { :class => 'innerpages-text-dropdown' }) %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:Name) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.text_field(:name, :class => 'innerpages-text-input') %></td>
    </tr>

    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:Position) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.select(:position, 1..@section_count, {}, {:class => 'innerpages-text-dropdown'}) %></td>
    </tr>
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:visible) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.check_box(:visible, :class => 'regular-checkbox') %></td>
    </tr>
    
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right"><%= f.label(:content_type) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.radio_button(:contenttype, 'text') %> Text <%= f.radio_button(:contenttype, 'HTML') %> HTML</td>
    </tr>
    
    <tr>
    <td height="7"></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td align="right" valign="top"><%= f.label(:content) %></td>
    <td>&nbsp;</td>
    <td align="left"><%= f.text_area(:content, :cols => 50, :rows => 30, :class => 'ckeditor', :id => 'editor1') %></td>
    </tr>

</table>
