<% @page_title = "Edit Section: #{@section.name}" %>

<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to("Back to List", {:action => 'list', :page_id => @page.id}, :class => 'back-to-menu') %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">Update Section</div>

<div style="clear:both;"></div>
</div>


<div class="scriptpage-form-background">

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id, :page_id => @page.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag "Update Section", :class => 'innerpage-form-button' %>
    </div>
    
  <% end %>
</div>
