<% @page_title = "Sections List" %>

<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to("Back to Pages List", {:controller => "pages", :action => 'list', :subject_id => @page.subject_id}, :class => 'back-to-menu') %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">Sections</div>

<div style="clear:both;"></div>
</div>

<div style="height:60px;">


<%= link_to("Add New Section", {:action => 'new', :page_id => @page.id}, :class => 'add-new-subject') %>

</div>
<div style="clear:both;"></div>



<div class="section list">

  <table class="listing" summary="Section list">
    <tr class="header-top">
      <th>&nbsp;</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Content Type</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= section.position %></td>
      <td><%= section.name %></td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td class="center"><%= section.contenttype %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => section.id, :page_id => @page.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => section.id, :page_id => @page.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => section.id, :page_id => @page.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
