<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>
<center><br><br>
<h3>Listing Quotes Images</h3>
<b><br>
<table  summary="Quotes form fields">
  <tr>
    <th>Image Name</th>
    <th>Image url</th>
    <th>Reference ID</th>
    <th>Reference Type</th>
    <th colspan=3>Actions</th>
  </tr>

<% @images.each do |image| %>
  <tr>  <td>
	<%= image.name %>
	</td>

       <td>
	<%= image.image_url %>
	</td>
 	<td>
	<%= image.quoteimageable_id %>
	</td>
	<td>
	<%= image.quoteimageable_type %>
	</td>

    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_quoteimage_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
