<% @page_title = "Delete Subject: #{@subject.name}" %>
<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to("Back to List", {:action => 'list'}, :class => 'back-to-menu') %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">Delete Subject</div>

<div style="clear:both;"></div>
</div>

<div class="innerpage-form-background">
	<%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| -%>
	<p class="delete-result-text">Are you sure you want to permanently delete this subject?</p>
	<p class="delete-result-text-2"><%= @subject.name %></p>
	<div class="form-buttons">
	<%= submit_tag "Delete Subject", :class => 'innerpage-form-button' %>
	</div>
<%end%>
</div>

